<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tech.salroid.filmy">

    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Permissions required by the sync adapter -->

    <!--<uses-permission
        android:name="android.permission.READ_SYNC_SETTINGS"/>
    <uses-permission
        android:name="android.permission.WRITE_SYNC_SETTINGS"/>
    <uses-permission
        android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>-->

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />

    <application
        android:name=".FilmyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.Base">


        <activity
            android:name=".FilmyIntro"
            android:label=" " />

        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>

            <meta-data
                android:name="io.fabric.ApiKey"
                android:value="62707285253d6b217b66e97e6e602bcab0edc463" />

        </activity>

        <activity android:name=".activities.MainActivity"></activity>

        <activity
            android:name=".activities.MovieDetailsActivity"
            android:label=" "
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.CharacterDetailsActivity"
            android:label="Details"
            android:theme="@style/AppTheme.Base" />

        <provider
            android:name=".providers.FilmProvider"
            android:authorities="@string/content_authority"
            android:exported="false"
            android:syncable="true" />


        <activity
            android:name=".activities.FullCastActivity"
            android:label=" "
            android:theme="@style/AppTheme.Base" />

        <activity
            android:name=".activities.FullMovieActivity"
            android:label="@string/title_activity_full_movie"
            android:theme="@style/AppTheme.Base" />

        <activity
            android:name=".activities.FullScreenImage"
            android:label=" "
            android:theme="@style/FullScreenTheme" />

        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".activities.SavedMovies"
            android:label="@string/title_activity_saved_movies"
            android:theme="@style/AppTheme.Base"></activity>

        <service
            android:name=".services.FilmyJobService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />


    </application>

</manifest>