<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".FilmyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:resizeableActivity="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.MD3"
        android:usesCleartextTraffic="true"
        tools:targetApi="n">

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name=".ui.intro.FilmyIntroActivity"
            android:label=" "
            android:theme="@style/AppTheme.MD3.Dark" />

        <activity
            android:name="tech.salroid.filmy.ui.home.MainActivity"
            android:configChanges="uiMode"
            android:exported="true"
            android:theme="@style/SplashTheme">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="tech.salroid.com"
                    android:scheme="http" />
            </intent-filter>
        </activity>

        <activity
            android:name="tech.salroid.filmy.ui.details.MovieDetailsActivity"
            android:label=" "
            android:theme="@style/AppTheme.MD3.Details" />

        <activity
            android:name="tech.salroid.filmy.ui.cast_crew.CastCrewDetailsActivity"
            android:label="@string/details"
            android:theme="@style/AppTheme.MD3" />

        <activity
            android:name="tech.salroid.filmy.ui.cast_crew.AllCastCrewActivity"
            android:label=" "
            android:theme="@style/AppTheme.MD3" />

        <activity
            android:name="tech.salroid.filmy.ui.full.AllMoviesActivity"
            android:label="@string/title_activity_full_movie"
            android:theme="@style/AppTheme.MD3" />

        <activity
            android:name="tech.salroid.filmy.ui.full.FullBannerActivity"
            android:label=" "
            android:theme="@style/AppTheme.MD3.Dark" />

        <activity android:name="tech.salroid.filmy.ui.settings.LicenseActivity" />
        <activity android:name="tech.salroid.filmy.ui.settings.AboutActivity" />

        <!--  <receiver android:name=".ui.widget.FilmyWidgetProvider">
              <intent-filter>
                  <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
              </intent-filter>

              <meta-data
                  android:name="android.appwidget.provider"
                  android:resource="@xml/filmy_widget_info" />
          </receiver>-->
    </application>

</manifest>